{% extends "layout" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "partials/alertMessage.html" as macros %}
{% block title %} Jo kenia- Email address reset{% endblock %}
{% block page_content %}
<div class = "row">
    <div class="col-md-6 col-md-offset-3 mod_auth-login-form">
    <div class="row">
    <h1 class=" text-centre">Reset your password</h1>
    <hr>
        <div class="col-sm-10 col-sm-offset-1">
                {{ macros.render_alert('alert-warn') }}
        </div>
    <div class="col-sm-8 col-sm-offset-2">{{ wtf.quick_form(form) }}</div>
        
    </div>
        
    </div>
</div>
{% endlock %}
