{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "main/macro.html" as macros %}

{% block content %}
{% if current_user.is_authenticated %}
<p style="text-align:center; font-size:24px;"> Hello,{{ current_user.name }}, welcome to Webmart!!</p> 
{% endif %}

    <div class="well">
        {% include 'main/_post.html' %}
        <div class="clearfix"></div>
    </div>
    <div class="text-centre">
        <div class="pagination">
                {{ macros.pagination_widget(pagination, '.index') }}
        </div>
    </div>

{% endblock %}
