{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{%block scripts %}
{{super() }}
{{pagedown.include_pagedown() }}
{%endblock %}
{% block content %}
<div class="page-header">
        <div class="col-sm-8">
            <h3>Posts by {{ user.name }}</h3>
            {% if user.posts %}
            {% include 'main/_post.html' %}
            {% endif %}
        </div>
    <div class="col-sm-4">
        <h1>{{ user.name }}</h1>
        <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">

        {% if current_user.is_authenticated %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}

        <p>Member since {{ moment(user.member_since).format('L') }}. Last seen {{ moment(user.last_seen).fromNow() }}.</p>
            <p>{{ user.posts.count() }} blog posts. </p>
    </div>        
</div>
{% endblock %}


