{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{%block scripts %}
{{super() }}
{{pagedown.include_pagedown() }}
{%endblock %}
{% block content %}
<div class="page-header">
        
            <h3>{{ user.name }}'s, store</h3>
            {% if user.posts %}
            {% include 'main/_post.html' %}
            {% endif %}
       
    <div class="col-sm-4">
        <div class="pull-right">
            
            <h1>{{ user.name }}</h1>
            <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=150) }}">

            {% if current_user.is_authenticated %}
            <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            {% endif %}

            <p>Member since {{ moment(user.member_since).format('L') }}. Last seen {{ moment(user.last_seen).fromNow() }}.</p>
                <p>{{ user.posts.count() }} blog posts. </p>
        </div>    
    </div>        
</div>
{% endblock %}


