{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{%block scripts %}
{{super() }}
{{pagedown.include_pagedown() }}
{%endblock %}
{% block content %}
<div class="page-header">
<h1>{{ user.name }}</h1>
<img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">

{% if current_user.is_administrator() %}
<p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
{% endif %}
<h3>Posts by {{ user.name }}</h3>
{% include 'main/_post.html' %}
</div>
{% endblock %}


